{
{% if item.config.port is defined %}
  "port": {{ item.config.port | int}},
{% else %}
  "port": 30000,
{% endif %}
{% if item.config.upnp is defined %}
  "upnp": {{ item.config.upnp | lower }},
{% else %}
  "upnp": false,
{% endif %}
{% if item.config.fullscreen is defined %}
  "fullscreen": {{ item.config.fullscreen | lower }},
{% else %}
  "fullscreen": false,
{% endif %}
{% if item.config.hostname is defined %}
  "hostname": "{{ item.config.hostname }}",
{% else %}
  "hostname": null,
{% endif %}
{% if item.config.routePrefix is defined %}
  "routePrefix": "{{ item.config.routePrefix }}",
{% else %}
  "routePrefix": null,
{% endif %}
{% if item.config.sslCert is defined %}
  "sslCert": "{{ item.config.sslCert }}",
{% else %}
  "sslCert": null,
{% endif %}
{% if item.config.sslKey is defined %}
  "sslKey": "{{ item.config.sslKey }}",
{% else %}
  "sslKey": null,
{% endif %}
{% if item.config.awsConfig is defined %}
  "awsConfig": "{{ item.config.awsConfig }}",
{% else %}
  "awsConfig": null,
{% endif %}
{% if item.config.dataPath is defined %}
  "dataPath": "{{ item.config.dataPath }}",
{% else %}
  "dataPath": "{{ path }}",
{% endif %}
{% if item.config.proxySSL is defined %}
  "proxySSL": {{ item.config.proxySSL | lower }},
{% else %}
  "proxySSL": false,
{% endif %}
{% if item.config.proxyPort is defined %}
  "proxyPort": {{ item.config.proxyPort }},
{% else %}
  "proxyPort": null,
{% endif %}
{% if item.config.updateChannel is defined %}
  "updateChannel": "{{ item.config.updateChannel }}",
{% else %}
  "updateChannel": "release",
{% endif %}
{% if item.config.world is defined %}
  "world": "{{ item.config.world }}"
{% else %}
  "world": null
{% endif %}
}
