[Unit]
Description=FoundryVTT {{ (foundryvtt_servers | length() == 1) | ternary('', item.name + ' ') }}Server

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ home }}
ExecStart=/usr/bin/node /opt/foundryvtt_{{ version }}/resources/app/main.js --headless --dataPath={{ data }}

[Install]
WantedBy=default.target
